@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* * {
    border: 1px solid;
} */


#header {
    text-align: center;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(255, 0, 0), #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main {
    text-align: center;
    padding: 20px;
}

.btn:focus {
  box-shadow: none;
}

.modals {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    z-index: 10;
    -moz-box-shadow: 0 0 3px rgb(191, 245, 255);
    -webkit-box-shadow: 0 0 3px rgb(191, 245, 255);
    box-shadow: 0 0 3px rgb(191, 245, 255);
    background-color: rgb(226, 250, 255);
    width: 90%;
    max-width: 450px;
}

.modals.active {
    transform: translate(-50%, -50%) scale(1);
}

.modals-body {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modals-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.239);
}

#overlay {
    position: fixed;
    top: 0; 
    opacity: 0;
    transition: 200ms ease-in-out;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#list {
    text-align: center;
}

li {
    list-style: none;
    width: 100%;
    text-align: center;
}

span {
    display: flex;
    justify-content: flex-end;
}

ul {
    max-width: 400px;
    margin: 0 auto;
    padding-right: 40px;
}

.counter {
    color: red;
    font-size: 25px;
}

.borders {
    border: solid 1px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    background-color: rgb(239, 252, 255);
}

.fas {
    margin-right: 5px;
    transition: 230ms ease-in-out;
}

.fas:hover{
    cursor: pointer;
    color: gray;
    text-shadow: -1px -1px 0 rgba(167, 167, 167, 0.5), 1px -1px 0 rgba(167, 167, 167, 0.5), -1px 1px 0 rgba(167, 167, 167, 0.5), 1px 1px 0 rgba(167, 167, 167, 0.5);
}

h5 {
    border-bottom: 1px solid black;
    padding: 4px;
}

input {
    border: 1px solid blue;
    border-radius: 3px;
}

label, input {
    margin-top: 7px;
}

label:nth-of-type(2) {
    margin-left: 6px;
}

label:nth-of-type(3) {
    margin-left: 5px;
}

/* MOZILLA FIREFOX ONLY */
@-moz-document url-prefix() {
    .modals-body {
      width: -moz-max-content;  /*This is the same as fit-content*/
      margin: 0 auto;
    }
    @media screen and (max-width: 280px) {
        #eventName {
            width: 100px; /*Screen adjustment for the Galaxy Fold */
        }
    }
  }

@media screen (max-width: 768px) {
    input #time {
        width: 115px;
    }
}